div
  style(type="text/css"): include:stylus ../index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  include ../mixin.pug
  div(plug="base")
    +head
    select.form-control.form-control-sm(ld="select"): option(ld-each="option")

