.ldcv.autogap
  script(type="@plotdb/block"): include:lsc index.ls
  .base.rwd.w-1024: .inner
    div(t="validation-rules")
    .border.rounded.mb-2
      .px-2.pb-2.pt-1.d-flex.g-2.align-items-center(ld-each="term")
        .form-group.mb-0
          label.text-sm.mb-0 &nbsp;
          .switch.switch-sm(ld="enabled",style="width:2em;flex:0 0 auto")
        .form-group.mb-0
          label.text-sm.mb-0(t="ruleset")
          select.form-control.form-control-sm(ld="opset")
            option(ld-each="opset-option")
        .form-group.mb-0
          label.text-sm.mb-0(t="rule")
          select.form-control.form-control-sm(ld="op")
            option(ld-each="op-option")
        div(ld="op-cfg-root")
        .form-group.flex-grow-1.mb-0
          label.text-sm.mb-0(t="errmsg")
          input.form-control.form-control-sm(ld="msg")
        .form-group.mb-0
          label.text-sm.mb-0 &nbsp;
          .text-danger: i.i-close(ld="delete")
    .d-flex.justify-content-between.align-items-center
      .btn.btn-outline-secondary(ld="add") #[span(t="new")] #[i.i-plus]
      .btn.btn-outline-secondary(ld="close") #[span(t="ok")]

