:scope { break-inside: avoid }
:scope.m-view
  *[ld=label] { opacity: 0.85; text-decoration: underline }
  .m-edit { display: none!important }
:scope.m-edit
  .m-view { display: none!important }
*[ld=content] { white-space: pre-wrap; word-break: break-all }
