//- add `ld-scope` to ensure scoping. this might be a breaking change -
//- however most of the case it should be fine since we even have ld-scope in many widget div.
div(ld-scope)
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  plug.form-group(name="widget",ld="base")
    plug(name="head")
      .mb-1(ld="display", data-display="block")
        label.d-flex.align-items-end.flex-wrap.justify-content-between.mb-0
          div
            span(ld="label editable",data-path="title")
            span.variant.text-sm.ml-2 (#[span(ld="variant")])
            span.text-danger.ml-2(ld="is-required") *
          .m-edit: .mf-note.text-sm(ld="limitation editable",data-path="config.limitation")
        .text-sm.text-muted(ld="display", data-display="block")
          div(ld="desc editable", data-path="desc")
    plug(name="body")
    plug(name="foot")
      .m-edit.notes(ld="display",data-display="block")
        .mf-note.text-sm.note.cps-hover-host(ld-each="note")
          span.editable(ld="text")
          i.i-close.ml-2.cps-hover-reveal.cps-remove(ld="remove")
