:scope { break-inside: avoid }
:scope.m-view
  *[ld=label] { opacity: 0.85; text-decoration: underline }
  .m-edit { display: none!important }
:scope.m-edit
  .m-view { display: none!important }
*[ld=content] {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}
.variant { display: none }
.has-variant .variant { display: inline }
.notes { margin-top: .5em }
.notes:empty { margin-top: 0 }
span[ld~=editable], .editable
  display: inline-block
[ld~=editable] p:last-child, .editable p:last-child
  margin-bottom: 0
.notes
  display: block
  padding-left: 1em
  .note
    display: list-item
    list-style-type: disc
    span
      vertical-align: top
